In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
from collections import Counter
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
genome_scores_data = pd.read_csv(
    "//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//ml-25m//genome-scores.csv")
movies_data = pd.read_csv(
    "//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//ml-25m//movies.csv")
ratings_data = pd.read_csv(
    "//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//ml-25m//ratings.csv")
print("\n\n\nmovies_data table")
print(movies_data.head())
print("\n\n\ngenome_scores_data table ")
print(genome_scores_data.head())
print("\n\n\nratings_data table")
print(ratings_data.head())

movies_data table
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy



genome_scores_data table
   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075



ratings_data table
   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [4]:
scores_pivot = genome_scores_data.pivot_table(
    index=["movieId"], columns=["tagId"], values="relevance").reset_index()

In [5]:
# join
mov_tag_df = movies_data.merge(
    scores_pivot, left_on="movieId", right_on="movieId", how="left")
mov_tag_df = mov_tag_df.fillna(0)
mov_genres_df = movies_data
mov_tag_df = mov_tag_df.drop(['title', 'genres'], axis=1)
print("\n\n\nmov_tag_df with the movies and the tag's relavance data.")
print(mov_tag_df.head())

mov_tag_df with the movies and the tag's relavance data.
   movieId        1        2        3        4        5        6        7  \
0        1  0.02875  0.02375  0.06250  0.07575  0.14075  0.14675  0.06350
1        2  0.04125  0.04050  0.06275  0.08275  0.09100  0.06125  0.06925
2        3  0.04675  0.05550  0.02925  0.08700  0.04750  0.04775  0.04600
3        4  0.03425  0.03800  0.04050  0.03100  0.06500  0.03575  0.02900
4        5  0.04300  0.05325  0.03800  0.04100  0.05400  0.06725  0.02775

         8       9  ...     1119     1120     1121     1122     1123     1124  \
0  0.20375  0.2020  ...  0.04050  0.01425  0.03050  0.03500  0.14125  0.05775
1  0.09600  0.0765  ...  0.05250  0.01575  0.01250  0.02000  0.12225  0.03275
2  0.14275  0.0285  ...  0.06275  0.01950  0.02225  0.02300  0.12200  0.03475
3  0.08650  0.0320  ...  0.05325  0.02800  0.01675  0.03875  0.18200  0.07050
4  0.07650  0.0215  ...  0.05350  0.02050  0.01425  0.02550  0.19225  0.02675

      1125     1126     1127     1128
0  0.03900  0.02975  0.08475  0.02200
1  0.02100  0.01100  0.10525  0.01975
2  0.01700  0.01800  0.09100  0.01775
3  0.01625  0.01425  0.08850  0.01500
4  0.01625  0.01300  0.08700  0.01600

[5 rows x 1129 columns]

In [6]:
def set_genres(genres, col):
    if genres in col.split('|'):
        return 1
    else:
        return 0

In [7]:
mov_genres_df["Action"] = mov_genres_df.apply(
    lambda x: set_genres("Action", x['genres']), axis=1)
mov_genres_df["Adventure"] = mov_genres_df.apply(
    lambda x: set_genres("Adventure", x['genres']), axis=1)
mov_genres_df["Animation"] = mov_genres_df.apply(
    lambda x: set_genres("Animation", x['genres']), axis=1)
mov_genres_df["Children"] = mov_genres_df.apply(
    lambda x: set_genres("Children", x['genres']), axis=1)
mov_genres_df["Comedy"] = mov_genres_df.apply(
    lambda x: set_genres("Comedy", x['genres']), axis=1)
mov_genres_df["Crime"] = mov_genres_df.apply(
    lambda x: set_genres("Crime", x['genres']), axis=1)
mov_genres_df["Documentary"] = mov_genres_df.apply(
    lambda x: set_genres("Documentary", x['genres']), axis=1)
mov_genres_df["Drama"] = mov_genres_df.apply(
    lambda x: set_genres("Drama", x['genres']), axis=1)
mov_genres_df["Fantasy"] = mov_genres_df.apply(
    lambda x: set_genres("Fantasy", x['genres']), axis=1)
mov_genres_df["Film-Noir"] = mov_genres_df.apply(
    lambda x: set_genres("Film-Noir", x['genres']), axis=1)
mov_genres_df["Horror"] = mov_genres_df.apply(
    lambda x: set_genres("Horror", x['genres']), axis=1)
mov_genres_df["Musical"] = mov_genres_df.apply(
    lambda x: set_genres("Musical", x['genres']), axis=1)
mov_genres_df["Mystery"] = mov_genres_df.apply(
    lambda x: set_genres("Mystery", x['genres']), axis=1)
mov_genres_df["Romance"] = mov_genres_df.apply(
    lambda x: set_genres("Romance", x['genres']), axis=1)
mov_genres_df["Sci-Fi"] = mov_genres_df.apply(
    lambda x: set_genres("Sci-Fi", x['genres']), axis=1)
mov_genres_df["Thriller"] = mov_genres_df.apply(
    lambda x: set_genres("Thriller", x['genres']), axis=1)
mov_genres_df["War"] = mov_genres_df.apply(
    lambda x: set_genres("War", x['genres']), axis=1)
mov_genres_df["Western"] = mov_genres_df.apply(
    lambda x: set_genres("Western", x['genres']), axis=1)
mov_genres_df["(no genres listed)"] = mov_genres_df.apply(
    lambda x: set_genres("(no genres listed)", x['genres']), axis=1)
mov_genres_df.drop(['title', 'genres'], axis=1, inplace=True)
print("\n\n\nmov_genres_df with movie's genres data.")
print(mov_genres_df.head())

mov_genres_df with movie's genres data.
   movieId  Action  Adventure  Animation  Children  Comedy  Crime  \
0        1       0          1          1         1       1      0
1        2       0          1          0         1       0      0
2        3       0          0          0         0       1      0
3        4       0          0          0         0       1      0
4        5       0          0          0         0       1      0

   Documentary  Drama  Fantasy  Film-Noir  Horror  Musical  Mystery  Romance  \
0            0      0        1          0       0        0        0        0
1            0      0        1          0       0        0        0        0
2            0      0        0          0       0        0        0        1
3            0      1        0          0       0        0        0        1
4            0      0        0          0       0        0        0        0

   Sci-Fi  Thriller  War  Western  (no genres listed)
0       0         0    0        0                   0
1       0         0    0        0                   0
2       0         0    0        0                   0
3       0         0    0        0                   0
4       0         0    0        0                   0

In [8]:
def set_year(title):
    year = title.strip()[-5:-1]
    if year.isnumeric() == True:
        return int(year)
    else:
        return 1800

In [9]:
# add year field to the df
movies = pd.read_csv(
    "//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//ml-25m//movies.csv")
movies['year'] = movies.apply(lambda x: set_year(x['title']), axis=1)
movies = movies.drop('genres', axis=1)

In [10]:
def set_year_group(year):
    if (year < 1900):
        return 0
    elif (1900 <= year <= 1975):
        return 1
    elif (1976 <= year <= 1995):
        return 2
    elif (1996 <= year <= 2003):
        return 3
    elif (2004 <= year <= 2009):
        return 4
    elif (2010 <= year):
        return 5
    else:
        return 0

In [11]:
movies['year_group'] = movies.apply(
    lambda x: set_year_group(x['year']), axis=1)
# no need title and year fields
movies.drop(['title', 'year'], axis=1, inplace=True)
agg_movies_rat = ratings_data.groupby(['movieId']).agg(
    {'rating': [np.size, np.mean]}).reset_index()
agg_movies_rat.columns = ['movieId', 'rating_counts', 'rating_mean']

In [12]:
def set_rating_group(rating_counts):
    if (rating_counts <= 1):
        return 0
    elif (2 <= rating_counts <= 10):
        return 1
    elif (11 <= rating_counts <= 100):
        return 2
    elif (101 <= rating_counts <= 1000):
        return 3
    elif (1001 <= rating_counts <= 5000):
        return 4
    elif (5001 <= rating_counts):
        return 5
    else:
        return 0

In [13]:
agg_movies_rat['rating_group'] = agg_movies_rat.apply(
    lambda x: set_rating_group(x['rating_counts']), axis=1)
# no need rating_counts field
agg_movies_rat.drop('rating_counts', axis=1, inplace=True)
mov_rating_df = movies.merge(
    agg_movies_rat, left_on='movieId', right_on='movieId', how='left')
mov_rating_df = mov_rating_df.fillna(0)
print("\n\n\nMov_rating_df with movie's mean rating and total rating scores.")
print(mov_rating_df.head())

Mov_rating_df with movie's mean rating and total rating scores.
   movieId  year_group  rating_mean  rating_group
0        1           2     3.893708             5
1        2           2     3.251527             5
2        3           2     3.142028             5
3        4           2     2.853547             4
4        5           2     3.058434             5

In [14]:
mov_tag_df = mov_tag_df.set_index('movieId')
mov_genres_df = mov_genres_df.set_index('movieId')
mov_rating_df = mov_rating_df.set_index('movieId')
# cosine similarity for mov_tag_df
cos_tag = cosine_similarity(mov_tag_df.values)*0.5
# cosine similarity for mov_genres_df
cos_genres = cosine_similarity(mov_genres_df.values)*0.25
# cosine similarity for mov_rating_df
cos_rating = cosine_similarity(mov_rating_df.values)*0.25

In [15]:
# Combining the dfs
cos = cos_tag+cos_genres+cos_rating
cols = mov_tag_df.index.values
inx = mov_tag_df.index
movies_sim = pd.DataFrame(cos, columns=cols, index=inx)

In [16]:
def get_similar(movieId):
    df = movies_sim.loc[movies_sim.index == movieId].reset_index(). \
        melt(id_vars='movieId', var_name='sim_movieId', value_name='relevance'). \
        sort_values('relevance', axis=0, ascending=False)[1:6]
    return df

In [17]:
# create empty
movies_similarity = pd.DataFrame(
    columns=['movieId', 'sim_movieId', 'relevance'])
for x in movies_sim.index.tolist():
    movies_similarity = pd.concat([movies_similarity, get_similar(x)])
print("\n\n\nMovies_similarity df with similar movie and it's relevance to the movie.")
print(movies_similarity.head())
movies_dataa = pd.read_csv(
    "//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//ml-25m//movies.csv")

Movies_similarity df with similar movie and it's relevance to the movie.
     movieId sim_movieId  relevance
3021       1        3114   0.973616
2264       1        2355   0.943426
2203       1        2294   0.938578
3912       1        4016   0.925936
580        1         588   0.883866

In [18]:
# movie_recommender function gives the top 5 similar movies.


def movie_recommender(movieId):
    df = movies_sim.loc[movies_sim.index == movieId].reset_index(). \
        melt(id_vars='movieId', var_name='sim_movieId', value_name='relevance'). \
        sort_values('relevance', axis=0, ascending=False)[1:6]
    df['sim_movieId'] = df['sim_movieId'].astype(int)
    sim_df = movies_dataa.merge(df, left_on='movieId', right_on='sim_movieId', how='inner'). \
        sort_values('relevance', axis=0, ascending=False). \
        loc[:, ['movieId_y', 'title']]. \
        rename(columns={'movieId_y': "movieId"})
    return sim_df

In [19]:
print("\n\n\nTest Recommendation.")
print("Recommendations for the movie", movies_dataa.iloc[0]['title'])
display(movie_recommender(1))

Test Recommendation.
Recommendations for the movie Toy Story (1995)

   movieId                             title
3        1                Toy Story 2 (1999)
2        1              Bug's Life, A (1998)
1        1                       Antz (1998)
4        1  Emperor's New Groove, The (2000)
0        1                    Aladdin (1992)

In [20]:
# manipulating the existing data to get movies_similarity df is done.
# We create “users”, “movies”, “genres”, “users_movies”, “movies_genres”, “users_genres” datasets.
# We use “users”, “movies” and “genres” datasets for nodes and others for relationships.

# creating df for nodes
# Getting the userID of users who has rated movies.
users_df = pd.DataFrame(ratings_data['userId'].unique(), columns=['userId'])
print("\n\n\nUsers_df who has rated movies.")
print(users_df.head())

Users_df who has rated movies.
   userId
0       1
1       2
2       3
3       4
4       5

In [21]:
# create movies_df with the rating
movies_df = movies_dataa.drop('genres', axis=1)
# calculate mean of ratings for each movies
agg_rating_avg = ratings_data.groupby(
    ['movieId']).agg({'rating': np.mean}).reset_index()
agg_rating_avg.columns = ['movieId', 'rating_mean']
movies_df = movies_df.merge(
    agg_rating_avg, left_on='movieId', right_on='movieId', how='left')
print("\n\n\nMovies_df with their mean rating from all the users.")
print(movies_df.head())

Movies_df with their mean rating from all the users.
   movieId                               title  rating_mean
0        1                    Toy Story (1995)     3.893708
1        2                      Jumanji (1995)     3.251527
2        3             Grumpier Old Men (1995)     3.142028
3        4            Waiting to Exhale (1995)     2.853547
4        5  Father of the Bride Part II (1995)     3.058434

In [22]:
genres = [
    "Action",
    "Adventure",
    "Animation",
    "Children",
    "Comedy",
    "Crime",
    "Documentary",
    "Drama",
    "Fantasy",
    "Film-Noir",
    "Horror",
    "Musical",
    "Mystery",
    "Romance",
    "Sci-Fi",
    "Thriller",
    "War",
    "Western",
    "(no genres listed)"]
genres_df = pd.DataFrame(genres, columns=['genres'])
print("\n\n\ngenres_df with all the genres from movie list.")
print(genres_df.head())

genres_df with all the genres from movie list.
      genres
0     Action
1  Adventure
2  Animation
3   Children
4     Comedy

In [23]:

# creating df for relationships.

users_movies_df = ratings_data.drop('timestamp', axis=1)
# limiting users_movies df to make the computation faster.
users_movies_df = users_movies_df.iloc[0:10000]
print("\n\n\nusers_movies_df with each user's rating for particular movies.")
print(users_movies_df.head())
movies_genres_df = movies_dataa.drop('title', axis=1)

users_movies_df with each user's rating for particular movies.
   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [24]:
# define a function to split genres field


def get_movie_genres(movieId):
    movie = movies_genres_df[movies_genres_df['movieId'] == movieId]
    genres = movie['genres'].tolist()
    df = pd.DataFrame([b for a in [i.split('|') for i in genres]
                      for b in a], columns=['genres'])
    df.insert(loc=0, column='movieId', value=movieId)
    return df

In [25]:
# create empty df
movies_genres = pd.DataFrame(columns=['movieId', 'genres'])
for x in movies_genres_df['movieId'].tolist():
    movies_genres = pd.concat([movies_genres, get_movie_genres(x)])
print("\n\n\nmovies_genres with movies and their genres seperately.")
print(movies_genres.head())

movies_genres with movies and their genres seperately.
  movieId     genres
0       1  Adventure
1       1  Animation
2       1   Children
3       1     Comedy
4       1    Fantasy

In [26]:
# join to movies data to get genre information
user_genres_df = ratings_data.merge(
    movies_dataa, left_on='movieId', right_on='movieId', how='left')
# drop columns that will not be used
user_genres_df.drop(['movieId', 'rating', 'timestamp',
                    'title'], axis=1, inplace=True)

In [27]:

def get_favorite_genre(userId):
    user = user_genres_df[user_genres_df['userId'] == userId]
    genres = user['genres'].tolist()
    movie_list = [b for a in [i.split('|')
                              for i in genres if str(i) != 'nan'] for b in a]
    counter = Counter(movie_list)
    if (len(counter.most_common(1)) != 0):
        return counter.most_common(1)[0][0]
    else:
        return 'nothing'

In [28]:
# create empty df
users_genres = pd.DataFrame(columns=['userId', 'genre'])
for x in users_df['userId'].tolist():
    if (x <= 5000):
        users_genres = pd.concat([users_genres, pd.DataFrame(
            [[x, get_favorite_genre(x)]], columns=['userId', 'genre'])])
print("\n\n\nUsers_genres with each user's favourite genre.")
print(users_genres.head())

Users_genres with each user's favourite genre.
  userId   genre
0      1   Drama
0      2   Drama
0      3   Drama
0      4  Action
0      5  Comedy

In [29]:
# exporting all the nodes and relationship dfs to the device to import it to the neo4j.
users_df.to_csv(r'//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//users.csv',
                sep='|', header=True, index=False)
movies_df.to_csv(r'//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//movies.csv',
                 sep='|', header=True, index=False)
genres_df.to_csv(r'//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//genres.csv',
                 sep='|', header=True, index=False)
users_movies_df.to_csv(
    r'//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//users_movies.csv', sep='|', header=True, index=False)
movies_genres.to_csv(r'//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//movies_genres.csv',
                     sep='|', header=True, index=False)
users_genres.to_csv(r'//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//users_genres.csv',
                    sep='|', header=True, index=False)
movies_similarity.to_csv(
    r'//Users//avinashpr//Documents//Vs code//movie recommendation//project_dataset//movies_similarity.csv', sep='|', header=True, index=False)